<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">
    <%= link_to 'KNKT+', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <%= link_to 'Home', home_path, class: "nav-link" %>
        <% if user_signed_in? then %>
          <%= link_to 'My Posts', '/posts', class: "nav-link" %>
          <%= link_to 'Following', '/followings', class: "nav-link" %>
          <%= link_to 'Followers', '/followers', class: "nav-link" %>
          <%= link_to 'Create Post', new_post_path, class: "nav-link" %>
        <% end %> 
      </div>
      <div class="navbar-nav ms-auto">
        <% if user_signed_in? then %>
          <div class="nav-link">
            <a href="/user/<%= @user.id %>" style="color: inherit; text-decoration: none">
              <%= @user.first_name + ' ' + @user.last_name %>
            </a>
          </div>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link" %>
          <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "nav-link" %>
        <% else %> 
          <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
          <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
        <% end %>  
      </div>
    </div>
  </div>
</nav>